header {
    background-color: var(--secondary-color);
    padding: 20px;
    text-align: center;
    position: fixed;     
    top: 0;               
    width: 100%;          
    z-index: 1000;       
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

body {
    padding-top: 80px; 
}
